<div class="notification notification-subscribe">
  <a class="notification-close" href="javascript:;"></a>
  Muito obrigado! Você agora é um membro deste blog!
</div>

<div class="notification notification-signup">
  <a class="notification-close" href="javascript:;"></a>
  Great! Next, complete checkout for full access to {{@site.title}}
</div>

<div class="notification notification-signin">
  <a class="notification-close" href="javascript:;"></a>
  Olá que bom que você voltou!
</div>

<div class="notification notification-checkout">
  <a class="notification-close" href="javascript:;"></a>
  Sua conta foi ativada com sucesso! Espero que goste do conteúdo 🤓
</div>

<div class="notification notification-billing-update">
  <a class="notification-close" href="javascript:;"></a>
  Sua informação de cobrança foi atualizada
</div>

<div class="notification notification-billing-update-cancel">
  <a class="notification-close" href="javascript:;"></a>
  Atualização falhou
</div>
