{{#if @site.secondary_navigation}}
  {{navigation type="secondary"}}
{{else}}
  <div class="social-links">
    {{#if @site.facebook}}
      <a class="social-link social-link-fb" onclick="sendClickEvent('link_click', 'Social Facebook Footer Link')"
         href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank"
         rel="noopener external noreferrer nofollow">{{> "icons/facebook"}}</a>
    {{/if}}
    {{#if @site.twitter}}
      <a class="social-link social-link-tw" onclick="sendClickEvent('link_click', 'Social Twitter Footer Link')"
         href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank"
         rel="noopener external noreferrer nofollow">{{> "icons/twitter"}}</a>
    {{/if}}
  </div>
{{/if}}
