<a aria-label="Twitter" class="twitter-button icon-link" href="https://twitter.com/_staticvoid" title="Twitter" target="_blank"
   rel="noopener external noreferrer nofollow">{{> "icons/twitter"}}</a>
<a aria-label="Facebook" class="facebook-button icon-link" href="https://fb.com/lsantos.dev" title="Facebook" target="_blank"
   rel="noopener external noreferrer nofollow">{{> "icons/facebook"}}</a>
<a aria-label="Linkedin" class="linkedin-button icon-link" href="https://linkedin.com/in/lhs-santos" title="LinkedIn" target="_blank"
   rel="noopener external noreferrer nofollow">{{> "icons/linkedin"}}</a>
<a aria-label="Github" class="github-button icon-link" href="https://github.com/khaosdoctor" title="GitHub" target="_blank"
   rel="noopener external noreferrer nofollow">{{> "icons/github"}}</a>
<a aria-label="Rss" class="rss-button icon-link" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS"
   target="_blank" rel="noopener external noreferrer nofollow">{{> "icons/rss"}}</a>
