<section class="subscribe-form">
  <h3 class="subscribe-form-title">Assine a newsletter!</h3>
  <p class="subscribe-form-description">Receba conteúdos exclusivos diretamente no seu email!</p>
  <form data-members-form="subscribe">
    <div class="form-group">
      <input class="subscribe-email" data-members-email placeholder="Digite seu email..." autocomplete="false" />
      <button class="button primary" type="submit" onclick="sendConvertionEvent(document.querySelector('input.subscribe-email').value)">
        <span class="button-content">Inscreva-se!</span>
        <span class="button-loader">{{> "icons/loader"}}</span>
      </button>
    </div>
    <div class="message-success">
      <strong>Excelente!</strong> Um e-mail foi enviado a você. Clique no link para ativar sua conta!
    </div>
    <div class="message-error">
      Este não é um e-mail válido!
    </div>
  </form>
</section>
